<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.devfleet.mob.app">

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="23" />

    <supports-screens
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".Application"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="crest.id"
            android:value="742391260f8143778f1212b4d6d91f48"/>
        <meta-data
            android:name="crest.key"
            android:value="3FFspXrXmadAycl7KoI3nZ74RoHuXcnj3wnAeUW4"/>
        <meta-data
            android:name="crest.redirect"
            android:value="fleet://api.eveonline.com/redirect"/>
      <!--  <meta-data
            android:name="crest.scopes"
            android:value="publicData,characterContactsRead,characterContactsWrite,characterFittingsRead,characterFittingsWrite,characterNavigationWrite"/>
-->
        <activity
            android:name=".ui.MainActivity"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:host="api.eveonline.com"
                    android:scheme="fleet" />
            </intent-filter>
        </activity>
    </application>

</manifest>
